deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  limits_config:
    retention_period: 30d
  compactor:
    retention_enabled: true
    working_directory: /var/loki/compactor
    delete_request_store: filesystem
  storage:
    type: filesystem
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  nodeSelector:
    pool: ops
  tolerations:
    - key: pool
      operator: Equal
      value: ops
      effect: NoSchedule
  persistence:
    enabled: true
    size: 50Gi

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

resultsCache:
  enabled: false

chunksCache:
  enabled: false
