deployment:
  kind: DaemonSet

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0

nodeSelector:
  pool: run

hostNetwork: true

service:
  type: ClusterIP

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesIngress:
    enabled: true
  kubernetesCRD:
    enabled: true

ports:
  web:
    port: 80
    hostPort: 80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    port: 443
    hostPort: 443
  metrics:
    # 9100 conflicts with node_exporter when hostNetwork=true.
    port: 19100
    exposedPort: 19100

securityContext:
  capabilities:
    add:
      - NET_BIND_SERVICE

podSecurityContext:
  runAsNonRoot: false
  runAsUser: 0
  runAsGroup: 0

logs:
  general:
    level: WARN

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

tolerations: []
