---
- name: Baseline all nodes
  hosts: all
  become: true
  roles:
    - role: common
    - role: vswitch
      when: is_dedicated | default(false) | bool

- name: Install and configure k3s server
  hosts: ctrl
  become: true
  roles:
    - role: k3s_server
    - role: registry_client
    - role: firewall

- name: Install and configure k3s agents
  hosts: ops:build:run
  become: true
  roles:
    - role: k3s_agent
    - role: gvisor
      when: "'run' in group_names"
    - role: registry_client
    - role: firewall

- name: Install addons and apply manifests
  hosts: ctrl
  become: true
  roles:
    - role: k8s_addons
  vars:
    run_k8s_addons_on_host: "{{ groups['ctrl'][0] }}"

- name: Configure Hetzner Load Balancer
  hosts: ctrl[0]
  become: true
  roles:
    - role: hetzner_lb
