---
# Targeted Helm chart upgrade playbook.
#
# Usage:
#   ansible-playbook playbooks/upgrade-helm-chart.yml \
#     -e chart_name=prometheus
#
# Supported chart_name values: prometheus, grafana, loki, promtail, traefik, cert-manager
#
# This copies the matching values file and runs helm upgrade.
# For full cluster bootstrap use site.yml instead.

- name: "Upgrade Helm chart: {{ chart_name | default('unset') }}"
  hosts: ctrl
  become: true
  vars:
    k8s_values_remote_dir: /opt/deploy-k8s/values
    k8s_manifest_src_dir: "{{ inventory_dir }}/../k8s"
    k8s_kubeconfig_path: /etc/rancher/k3s/k3s.yaml

    chart_map:
      prometheus:
        release: "{{ prometheus_release_name }}"
        ref: "{{ prometheus_chart_ref }}"
        version: "{{ prometheus_chart_version }}"
        values_file: prometheus-values.yml
        namespace: dp-system
      grafana:
        release: "{{ grafana_release_name }}"
        ref: "{{ grafana_chart_ref }}"
        version: "{{ grafana_chart_version }}"
        values_file: grafana-values.yml
        namespace: dp-system
      loki:
        release: "{{ loki_release_name }}"
        ref: "{{ loki_chart_ref }}"
        version: "{{ loki_chart_version }}"
        values_file: loki-values.yml
        namespace: dp-system
      promtail:
        release: "{{ promtail_release_name }}"
        ref: "{{ promtail_chart_ref }}"
        version: "{{ promtail_chart_version }}"
        values_file: promtail-values.yml
        namespace: dp-system
      traefik:
        release: "{{ traefik_release_name }}"
        ref: "{{ traefik_chart_ref }}"
        version: "{{ traefik_chart_version }}"
        values_file: traefik-values.yml
        namespace: dp-system
      cert-manager:
        release: "{{ cert_manager_release_name }}"
        ref: "{{ cert_manager_chart_ref }}"
        version: "{{ cert_manager_chart_version }}"
        values_file: cert-manager-values.yml
        namespace: cert-manager

    chart: "{{ chart_map[chart_name] }}"

  pre_tasks:
    - name: Validate chart_name is provided
      assert:
        that: chart_name is defined and chart_name in chart_map
        fail_msg: >-
          chart_name must be one of: {{ chart_map.keys() | list | join(', ') }}.
          Usage: ansible-playbook playbooks/upgrade-helm-chart.yml -e chart_name=prometheus

  tasks:
    - name: "Copy {{ chart['values_file'] }} to controller"
      copy:
        src: "{{ k8s_manifest_src_dir }}/values/{{ chart['values_file'] }}"
        dest: "{{ k8s_values_remote_dir }}/{{ chart['values_file'] }}"
        owner: root
        group: root
        mode: "0644"

    - name: "Upgrade {{ chart['release'] }} ({{ chart['ref'] }} {{ chart['version'] }})"
      command: >-
        /usr/local/bin/helm upgrade --install {{ chart['release'] }} {{ chart['ref'] }}
        --namespace {{ chart['namespace'] }}
        --version {{ chart['version'] }}
        --values {{ k8s_values_remote_dir }}/{{ chart['values_file'] }}
      environment:
        KUBECONFIG: "{{ k8s_kubeconfig_path }}"
      register: helm_result
      changed_when: >-
        'has been upgraded' in helm_result.stdout or
        'has been installed' in helm_result.stdout

    - name: Show Helm output
      debug:
        var: helm_result.stdout_lines
